extends layout

block content
	.container
		h1 Applicants
		ul#applications.list-unstyled
			li #{applicant.name}
			li #{applicant.bio}
			li #{applicant.skills}
			li #{applicant.experience} years
			li #{applicant.reason}
			li #{applicant._id}
			form(action='/remove' method='post')
				input(type='hidden' name='id' value='#{applicant._id}')
				input(type='submit' name='remove' value='Remove')